### Composer ###
composer.phar
/vendor/
composer.lock

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### PHPForms ###
/tests/DB.ini
